doctype html
html
	head
		title DOODEGRAM

		block stylesheets
			link(rel='stylesheet', href='/stylesheets/style.css')
	body(ng-app="doodegram", ng-cloak)
		block content


		block javascripts
			script(src="/angular/angular.min.js")
			script(src="/javascripts/main.js")
